HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/medIt-front/node_modules/
/src/medIt-front/node_modules/
/src/medIt-front/node_modules/
/src/medIt-front/.angular/cache/
/src/medIt-front/node_modules/
/src/medIt-front/node_modules/
/src/main/resources/static/browser/media/fa-brands-400.ttf
/src/main/resources/static/browser/media/fa-brands-400.woff2
/src/main/resources/static/browser/media/fa-regular-400.ttf
/src/main/resources/static/browser/media/fa-regular-400.woff2
/src/main/resources/static/browser/media/fa-solid-900.ttf
/src/main/resources/static/browser/media/fa-solid-900.woff2
/src/main/resources/static/browser/media/fa-v4compatibility.ttf
/src/main/resources/static/browser/media/fa-v4compatibility.woff2
src/medIt-front/package.json
src/medIt-front/package-lock.json
/src/medIt-front/.angular/cache
src/medIt-front/.angular/cache/19.2.9/medIt-front/.tsbuildinfo
src/medIt-front/.angular/cache/19.2.9/medIt-front/angular-compiler.db
src/medIt-front/.angular/cache/19.2.9/medIt-front/angular-compiler.db-lock
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/@angular_core.js
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/@angular_core.js.map
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/@angular_platform-browser.js
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/@angular_platform-browser.js.map
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/@angular_router.js
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/@angular_router.js.map
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/_metadata.json
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/chunk-WDMUDEB6.js
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/chunk-WDMUDEB6.js.map
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/flowbite.js
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/flowbite.js.map
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/package.json
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps_ssr/_metadata.json
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps_ssr/package.json
src/medIt-front/package-lock.json
src/medIt-front/.angular/cache/19.2.9/medIt-front/.tsbuildinfo
src/medIt-front/.angular/cache/19.2.9/medIt-front/angular-compiler.db
src/medIt-front/.angular/cache/19.2.9/medIt-front/angular-compiler.db-lock
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/@angular_core.js
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/@angular_core.js.map
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/@angular_platform-browser.js
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/@angular_platform-browser.js.map
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/@angular_router.js
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/@angular_router.js.map
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/_metadata.json
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/chunk-WDMUDEB6.js
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/chunk-WDMUDEB6.js.map
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/flowbite.js
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/flowbite.js.map
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps/package.json
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps_ssr/_metadata.json
src/medIt-front/.angular/cache/19.2.9/medIt-front/vite/deps_ssr/package.json
src/medIt-front/package-lock.json
